:root {
  --color-eef8ff: #eef8ff;
  --color-dbf0ff: #dbf0ff;
  --z-index-code-block-header: 1;
  --z-index-code-block-header-btn: 2;
}

pre {
  position: relative;
}

/* Increased specificity to override theme defaults */
.hljs.hljs {
  padding: 1em;

  /* base 20px + header height */
  margin: 54px 0 20px;
  white-space: pre-wrap;
  background-color: var(--color-eef8ff);
  border-inline-start: 0;
  box-shadow: 0 0 rgba(50, 51, 48, 0.07), 0 0 rgba(50, 51, 48, 0.07);
}

.hljs::before {
  position: absolute;
  right: 0;
  bottom: 100%;
  inset-inline-start: 0;
  z-index: var(--z-index-code-block-header);
  display: block;
  height: 34px;
  padding: 0 10px;
  font-size: var(--font-size-xs);
  font-weight: bold;
  line-height: 34px;
  color: var(--color-wagtail-007d7e);
  content: attr(aria-label);
  background-color: var(--color-dbf0ff);
}

pre .btn-icon {
  position: absolute;
  top: -34px;
  z-index: var(--z-index-code-block-header-btn);
  height: 34px;
  padding: 0;
  color: var(--color-wagtail-007d7e);
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all 0.25s ease-out;
}

@media (prefers-reduced-motion: reduce) {
  pre .btn-icon {
    transition: none;
  }
}

pre .btn-icon:hover {
  color: var(--color-000000);
  text-decoration: none;
}

.btn-icon__body {
  display: flex;
  align-items: center;
}

.btn-icon svg {
  margin-right: 0.4em;
  fill: currentColor;
}

.btn-icon__label {
  font-size: var(--font-size-xs);
}

.btn-open-in-repl {
  right: 75px;
}

.btn-clipboard {
  right: 10px;
}
