.home-iframe {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: auto;
  min-height: 1800px;
}

@media (min-width: 520px) {
  .home-iframe {
    min-height: 1300px;
  }
}

@media (min-width: 840px) {
  .home-iframe {
    padding: 0 20px;
    min-height: 1200px;
  }
}

.projectTitle img {
  vertical-align: middle;
  margin-left: 0.25em;
}

.video {
  margin: 0 5%;
  position: relative;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
}

.video iframe {
  display: block;
  margin: 0 auto 10px;
  min-height: 340px;
  width: 100%;
}
