:root {
  --color-wagtail-007d7e: #007d7e;
  --color-e0e0e0: #e0e0e0;
  --color-eeeeee: #eee;
  --color-1a1a1a: #1a1a1a;
  --color-ffffff: #fff;
  --color-000000: #000;
  --color-393939: #393939;
  --font-size-xs: 15px;
  --font-size-xl: 8.8rem;
  --font-size-h1: 2.25rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.25rem;
}

.iframe {
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

.iframe--home {
  max-width: 800px;
  min-height: 1200px;
  padding: 0 10px;
}

@media (min-width: 520px) {
  .iframe--home {
    min-height: 800px;
  }
}

.iframe--custom {
  max-width: 800px;
  min-height: 650px;
  padding: 0 10px;
}

@media (min-width: 520px) {
  .iframe--custom {
    min-height: 500px;
  }
}

.iframe--all {
  max-width: 800px;
  min-height: 2200px;
  padding: 0 10px;
}

@media (min-width: 520px) {
  .iframe--all {
    min-height: 2000px;
  }
}

.iframe--docs-200 {
  min-height: 200px;
}

.iframe--docs-250 {
  min-height: 250px;
}

.iframe--docs-400 {
  min-height: 400px;
}

.projectTitle img {
  margin-left: 0.25em;
  vertical-align: middle;
}

.video {
  position: relative;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  margin: 0 5%;
}

.video iframe {
  display: block;
  width: 100%;
  min-height: 340px;
  margin: 0 auto 10px;
}

hr {
  border: 0;
  border-top: 1px;
}

blockquote {
  color: inherit;
  background: #fafbfc;
  border-left-color: var(--color-e0e0e0);
}

/* ####### LINKS ####### */

.mainContainer a:not(.hash-link) {
  color: var(--color-1a1a1a);
  background: #eef8ff;
  border-bottom: 1px dotted #007d7e;
  transition: all 0.25s ease-out;
}

@media (prefers-reduced-motion: reduce) {
  .mainContainer a:not(.hash-link) {
    transition: none;
  }
}

.authorPhoto a:not(.hash-link) {
  background-color: initial;
  border-bottom: none;
}

/* stylelint-disable-next-line selector-max-specificity */
.mainContainer a:not(.hash-link):hover {
  text-decoration: none;
  background-color: initial;
}

/* stylelint-disable-next-line selector-max-type */
.mainContainer a code {
  background-color: initial;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
.mainContainer a.anchor {
  border: 0;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
.mainContainer a.button {
  background-color: initial;
  border-bottom-style: solid;
}

/* ####### HEADER & FOOTER ####### */

.algolia-autocomplete {
  line-height: 20px;
}

/* ####### POST ####### */

.read-more {
  margin-top: 2rem;
}

/* stylelint-disable-next-line selector-max-specificity */
.blogContainer .postHeader .post-meta {
  float: left;
  font-size: var(--font-size-xs);
}

/* stylelint-disable-next-line selector-max-specificity, a11y/content-property-no-static-value */
.blogContainer .postHeader .authorBlock::before {
  margin: 1px 5px;
  font-size: var(--font-size-xs);
  content: "by ";
}

.blogContainer h2 {
  font-size: var(--font-size-h2);
}

.blogContainer h3 {
  font-size: var(--font-size-h3);
}

.blogContainer h4 {
  font-size: var(--font-size-h4);
}

.page-header {
  padding-bottom: 9px;
  margin: 0 0 20px;
  border-bottom: 1px solid var(--color-eeeeee);
}

.page-header > h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: var(--font-size-h1);
}

.page-header > p {
  margin: 5px;
  font-weight: 300;
  line-height: 1.4;
}

.text-center {
  text-align: center;
}

/* stylelint-disable-next-line selector-max-type, no-descending-specificity */
table td code {
  color: var(--color-393939);
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  word-break: normal;
}

.nav-home img {
  height: auto;
}
