.hljs {
  --color-00193a: #00193a;
  --color-eaeef3: #eaeef3;
  --color-738191: #738191;
  --color-0048ab: #0048ab;
  --color-4c81c9: #4c81c9;

  display: block;
  padding: 0.5em;
  overflow-x: auto;
  color: var(--color-00193a);
  background-color: var(--color-eaeef3);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-comment {
  color: var(--color-738191);
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-addition,
.hljs-tag,
.hljs-quote,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: var(--color-0048ab);
}

.hljs-meta,
.hljs-subst,
.hljs-symbol,
.hljs-regexp,
.hljs-attribute,
.hljs-deletion,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-bullet {
  color: var(--color-4c81c9);
}

.hljs-emphasis {
  font-style: italic;
}
