.error-page .error-message-container {
  width: 87%;
  max-width: 1400px;
  padding-top: 40px;
  margin-right: auto;
  margin-inline-start: auto;
}

.error-page .error-message {
  height: 75vh;
  color: var(--color-ffffff);
  background-color: var(--color-wagtail-007d7e);
}

.error-page .error-message span {
  display: inline-block;
  display: block;
  margin-top: 21vh;
  font-size: var(--font-size-xl);
  font-weight: 700;
  text-align: center;
}

.error-page .error-message p {
  margin-top: 71px;
  font-size: var(--font-size-h3);
  text-align: center;
}
